name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'
      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v5

      - name: Gradle Test
        uses: gradle/actions/setup-gradle@v5
        with:
          arguments: test

      - name: Gradle Build
        uses: gradle/actions/setup-gradle@v5
        with:
          arguments: build